<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Développer et créer, c'est une passion. Pourquoi pas un métier? Voici mon profil, mes compétences, mon CV et de quoi me contacter.">
		<meta name="author" content="Xavier Ribant">
        <title>{% block title %}Xavier Ribant - IT & Web Development{% endblock %}</title>
        {% block stylesheets %}

	        <!-- Bootstrap -->
			<link rel="stylesheet" type="text/css" href="{{ asset('build/vendors/bootstrap.min.css') }}">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



			<!-- Custom -->
			<link rel="stylesheet" type="text/css" href="{{ asset('build/css/custom.css') }}">

			<!-- Google Font -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Days+One">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

        {% endblock %}
    </head>
    <body>
        {% block body %}

		<!-- Intro -->

		<div id="intro" class="intro">
			{% for message in app.flashes('notice') %}
		        <div id="message" class="alert alert-info" role="alert">
		            {{ message }}
		        </div>
		    {% endfor %}
			<div class="container">
		      <div class="row">
		        <div class="intro-text">
		          <h1><span class="name">Xavier Ribant </span></h1>
		          <p>IT & Web Development</p>
		          <a href="#about" class="btn btn-default btn-lg js-scrollTo">En Savoir Plus</a> 
		      	</div>
		      </div>
    		</div>
		</div>

		<!-- Navigation -->
		<div id="nav">
		  <nav class="navbar navbar-custom" data-spy="affix" data-offset-top="980">
		    <div class="container">
		      <div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        	  </div>
		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse navbar-center navbar-main-collapse">
		        <ul class="nav navbar-nav">
		        	
		          <li> <a class="js-scrollTo"  href="#about">A Propos</a> </li>
		          <li> <a class="js-scrollTo"  href="#skills">Competences</a> </li>
		          <li> <a class="js-scrollTo"  href="#resume">Experience</a> </li>
		          <li> <a class="js-scrollTo"  href="#formation">Formation</a> </li>
		          <li> <a class="js-scrollTo"  href="#contact">Contact</a> </li>
		        </ul>
		      </div>

		    </div>
		  </nav>
		</div>

		<!-- A Propos -->
		<div id="about" class="about">
			<div class="container">
			    <div class="section-title text-center center">
			      <h2>A Propos</h2>
			    </div>
			    <div class="row">
			      <div class="col-md-12 text-center"><img src="{{ asset('build/img/me_clem.jpg') }}" class="img-responsive"></div>
			      <div class="col-md-8 col-md-offset-2">
			        <div class="about-text">
			          <p>Technicien en informatique devenu ingénieur système, j'ai toujours été attiré voir passioné par la création web. <br>C'est en toute logique que je me suis formé de manière autodidacte aux technologies et languages qui y sont liés.</p>
			          <p>Une passion que j'aime mettre au service de proches que je veux transformer en profession.</p>
			          <p class="text-center"><a class="btn btn-primary" href="{{ asset('build/img/xr_resume.pdf') }}" target="_blank"><i class="fa fa-download"></i> Télécharger Mon CV</a></p>
			        </div>
			      </div>
			    </div>
			  </div>
		</div>

		<!-- Competences -->
		<div id="skills" class="text-center">
		  <div class="container">
		    <div class="section-title center">
		      <h2>Compétences</h2>

		    </div>
		    <div class="row">
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="95"> <span class="percent">95</span> </span>
		        <h4>HTML5</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
		        <h4>CSS3</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span>
		        <h4>jQuery</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
		        <h4>Bootstrap</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="90"> <span class="percent">90</span> </span>
		        <h4>PHP</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="90"> <span class="percent">90</span> </span>
		        <h4>SQL</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
		        <h4>Symfony</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="90"> <span class="percent">90</span> </span>
		        <h4>GitHub</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="60"> <span class="percent">60</span> </span>
		        <h4>Photoshop</h4>
		      </div>
		      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="60"> <span class="percent">60</span> </span>
		        <h4>Wordpress</h4>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Parcours -->
		<div id="resume" class="text-center">
		  <div class="container">
		    <div id="parcours" class="section-title center">
		      <h2>Expérience</h2>
		      
		    </div>
		    <div class="row">
		      <div class="col-lg-12">
		        <ul class="timeline">
		          <li>
		            <div class="timeline-image">
		              <h4>Jan 2012 <br>
		                - <br>
		                Présent </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>PDC-Europe</h4>
		                <h4 class="subheading">System Admin/Engineer</h4>
		              </div>
		              <div class="timeline-body">
		                <p>Administration Système Clients/Serveurs.<br>
		                Réseaux et sécurité.</p>
		              </div>
		            </div>
		          </li>
		          <li class="timeline-inverted">
		            <div class="timeline-image">
		              <h4>Oct 2005 <br>
		                - <br>
		                Déc 2011 </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>PDC-Europe</h4>
		                <h4 class="subheading">Site Support Specialist</h4>
		              </div>
		              <div class="timeline-body">
		                <p>Support informatique sur site.</p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="timeline-image">
		              <h4>Oct 2002 <br>
		                - <br>
		                May 2005 </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>IP Globalnet</h4>
		                <h4 class="subheading">Helpdesk Engineer</h4>
		              </div>
		              <div class="timeline-body">
		                <p>Support Technique ADSL/PSTN à la clientelle de Belgacom/Proximus</p>
		              </div>
		            </div>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		  <div class="container">
		    <div class="section-title center">
		      <h2>Formation</h2>
		    </div>
		    <div class="row">
		      <div class="col-lg-12">
		        <ul class="timeline">
		          
		          <!-- Education Section-->
		          <li class="timeline-inverted">
		            <div class="timeline-image">
		              <h4>2016 <br>
		                - <br>
		                Présent </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>Open Classroom (Self Training)</h4>
		                <h4 class="subheading">Développement Web</h4>
		              </div>
		              <div class="timeline-body">
		              	<h5>Maitrisé:</h5>
		              	HTML5 et CSS3<br>
		              	JavaScript<br>
		              	Bootstrap<br>
		                PHP et MySql<br>
		               	Symfony<br>
		               	GitHub<br>
		               	<h5>En cours:</h5>
		               	JQuery<br>
		               	<h5>Envisagé:</h5>
		                Angular<br>
		                React.js<br>
		                Swift
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="timeline-image">
		              <h4>2000 <br>
		                - <br>
		                2002 </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>Institut Paul Lambin</h4>
		                <h4 class="subheading">Graduat en informatique</h4>
		              </div>
		              <div class="timeline-body">
		                
		              </div>
		            </div>
		          </li>
		          <li class="timeline-inverted">
		            <div class="timeline-image">
		              <h4>1999 <br>
		                - <br>
		                2000 </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>Institut Saint-Luc</h4>
		                <h4 class="subheading">Préparatoire aux arts numériques</h4>
		              </div>
		              <div class="timeline-body">
		                <p></p>
		              </div>
		            </div>
		          </li>
		          <li>
		            <div class="timeline-image">
		              <h4>1992 <br>
		                - <br>
		                1999 </h4>
		            </div>
		            <div class="timeline-panel">
		              <div class="timeline-heading">
		                <h4>Institut Vallée-Bailly</h4>
		                <h4 class="subheading">Enseignement Secondaire Supérieur</h4>
		              </div>
		              <div class="timeline-body">
		                <p class="text-muted">Enseignement général option artistique.</p>
		              </div>
		            </div>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Contact Section -->
		<div id="contact" class="text-center">
		  <div class="container">
		    <div class="section-title center">
		      <h2>Contact</h2>
		      
		    </div>
		     <div class="clearfix"></div>
		    <div class="col-md-8 col-md-offset-2">
		      {{ form_start(form) }}
		      <form name="sentMessage" id="contactForm" novalidate>
		        <div class="row">
		          <div class="col-md-6">
		            <div class="form-group">
		            	{{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'id': 'form_name', 'name': 'form[name]', 'placeholder': 'Nom' } }) }}
		              
		              <p class="help-block text-danger"></p>
		            </div>
		          </div>
		          <div class="col-md-6">
		            <div class="form-group">
		              {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'id': 'form_email', 'name': 'form[email]', 'placeholder': 'E-Mail' } }) }}
		              <p class="help-block text-danger"></p>
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          {{ form_widget(form.message, { 'attr': { 'class': 'form-control text-area-size', 'id': 'form_message', 'name': 'form[message]', 'placeholder': 'Message' } }) }}
		          <p class="help-block text-danger"></p>
		        </div>
		        <div id="success"></div>
		        <button type="submit" class="btn btn-default">Envoyer</button>
		        {{ form_rest(form) }}
		      </form>
		      {{ form_end(form) }}
		      <div class="social">
		        <ul>
		          <li><a href="https://www.facebook.com/xavier.ribant" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
		          <li><a href="https://twitter.com/XRibant" target="_blank"><i class="fab fa-twitter"></i></a></li>
		          <li><a href="https://github.com/xribant" target="_blank"><i class="fab fa-github"></i></a></li>
		          <li><a href="https://www.linkedin.com/in/xavier-ribant-1b4a7462/" target="_blank"><i class="fab fa-linkedin-in"></i>
		          </a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>

		<div id="footer">
		  <div class="container text-center">
		    <div class="fnav">
		      <p>Copyright &copy; 2018 Xavier Ribant - www.xribant.me</p>
		    </div>
		  </div>
		</div>

        {% endblock %}

        {% block javascripts %}
        	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        	<script src="{{ asset('build/js/easypiechart.js') }}"></script>
        	<script src="{{ asset('build/js/custom.js') }}"></script>
        	<script src="{{ asset('build/js/SmoothScroll.js') }}"></script>
        	<script src="{{ asset('build/js/waypoints.js') }}"></script>
        {% endblock %}
    </body>
</html>
